name: "Security Scan on PR"
on:
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  security_scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@main
        with:
          submodules: recursive
      - name: Initialize CodeQL
        uses: github/codeql-action/init@main
        with:
          languages: cpp,python,java
          build-mode: none
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@main